<body class="bg">
 <header>
        <div class="nomeFlor">
            <a href="/pagina_home"><h1>Florishop</h1></a>
            <i style="color: greenyellow" class="fab fa-envira fa-2x"></i>
        </div> 
        <div class="pesquisar">
            <i  class="fas fa-search fa-2x"></i>
            <form action="/procurar" method="POST" class="pesquisar">
            <input type="text" id="flor" name="flor" placeholder="Flor">
            <button type="submit" class="procurar">Procurar</button>
            </form>
        </div>         
        <div class="carrinho">
            <i class="fas fa-shopping-cart fa-2x"></i>
            <a href="/pagina_carrinho"><button>Carrinho</button></a>
        </div>
        <div class="conf">
            <i class="fas fa-cog fa-2x"></i>
            <a href='/pagina_config'><button>Configurações</button></a>
        </div>
        <div class="dinheiro">
            <i class="fas fa-coins fa-2x"></i>
            <a href="/pagina_vale_presente"><button>Adicionar Vale-Presente</button></a>
            <p>R${{valor}},00</p>   
        </div>
        <div class="sair">
            <i class="fas fa-door-open fa-2x"></i>
            <a href="/"><button>Sair</button></a>   
        </div>
    </header>
    <nav>
        <div class="listacarrinho">
            <div class="pedido-palavra">
            <h1>Pedido #143293 :</h1>
            </div>
            <div class="produto">
            <img src="https://www.floresonline.com.br/media/catalog/product/a/l/alta-1116-0.webp" alt="dsaasd">
            <div>
            <p>Girassól Notícia</p>
            <p>Quantidade: 2</p>
            <p>Preço unitário:R$70,00</p>
            </div>
            </div>
            <div class="produto">
            <img src="https://www.floresonline.com.br/media/catalog/product/a/l/alta-2740-1.webp" alt="dsaasd">
            <div>
            <p>Lirio de Hastes Brancas</p>
            <p>Quantidade: 1</p>
            <p>Preço unitário: R$150,00</p>
            </div>
            </div>
             <div class="produtoD">
                <p>Data: 27/01/2022</p>
            </div>
            <div class="produtoD">
                <p>Valor Total: R$290,00</p>
            </div>
        </div>
    </nav>
    <section>
        
    </section>
</body>