<body class ="bg">


<div class="container_principal">
            <div class="manchete">
                
                <div class = "h1comIcone">
                <i class="fab fa-envira fa-4x"></i>
                <h1>Florishop</h1>
                <i class="fab fa-pagelines fa-4x"></i>
                </div>
                {{#if error}}
                    <h1 style="color: red; font-size:30px">Email ja utilizado</h1>
                {{/if}}
                <h1 style="color: red; font-size:3px>">{{mensagem}}</h1>
                <p>O maior portal de flores do mundo</p>
            </div>
                <p class="comodesejafrase">Preencha o formulário para se cadastrar</p>
            <form method="POST" action="/verificaEmail">
                <div class="campo">
                    <div > 
                        <input  placeholder="E-mail" name="email" id="email">
                    </div>
                    <div>    
                        <input type="password" placeholder="Senha" name="senha" id="senha" required>
                    </div>
                </div>
                <div class="campo2">
                    <input placeholder="Nome" type="text" name="nome" id="nome" required>
                </div>
                <div class="campo2">
                    <input placeholder="Sobrenome" type="text" name="sobrenome" id="sobrenome" required>
                </div>
                <div class="campo2">
                    <input  placeholder="Cidade" type="text" name="endereco" id="endereco" required>
                </div>
                <div class="campo2">
                    <input  placeholder="Endereço" type="text" name="endereco" id="endereco" required>
                </div>
                <div class="campo2"> 
                    <input placeholder="Complemento" type="text" name="numero" id="numero" required>
                </div>
                <div class="campo2">
                    <input  placeholder="Bairro" type="text" name="complemento" id="complemento" required>
                </div> 
                <div class="campo2">
                    <input placeholder="Ponto de Referência" type="text" name="pontode" id="pontode" required>
                </div>
            <button  type="submit">Cadastrar</button>
    </form>
</div>
</body>