<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Florishop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="pagina_cadastro.css" media="screen" />
    <script src="https://kit.fontawesome.com/126633e6cf.js" crossorigin="anonymous">
    </script>
</head>
<body>
    <body class="bg">
        <div class="container_principal">
            <div class="manchete">
                <div class = "h1comIcone">
                <i class="fab fa-envira fa-4x"></i>
                <h1>Florishop</h1>
                <i class="fab fa-pagelines fa-4x"></i>
                </div>
                <p>O maior portal de flores do mundo</p>
            </div>
                <p class="comodesejafrase">Preencha o formulário para se cadastrar</p>
            <form method="" action="http://localhost:3000">
                <div class="campo">
                    <div > 
                        <input type="email" placeholder="E-mail" name="email" id="email" required>
                    </div>
                    <div>    
                        <input type="password" placeholder="Senha" name="senha" id="senha" required>
                    </div>
                </div>
                <div class="campo2">
                    <input placeholder="Nome" type="text" name="nome" id="nome" required>
                </div>
                <div class="campo2">
                    <input placeholder="Sobrenome" type="text" name="sobrenome" id="sobrenome" required>
                </div>
                <div class="campo2">
                    <input  placeholder="Endereço" type="text" name="endereco" id="endereco" required>
                </div>
                <div class="campo2"> 
                    <input placeholder="No" type="text" name="numero" id="numero" required>
                </div>
                <div class="campo2">
                    <input  placeholder="Complemento" type="text" name="complemento" id="complemento" required>
                </div> 
                <div class="campo2">
                    <input placeholder="Ponto de Referência" type="text" name="pontode" id="pontode" required>
                </div>
                <button  type="submit">Cadastrar</button>
            </form>
        </div>  
    </body>
</body>
</html>