<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florishop</title>
    <link rel="stylesheet" type="text/css" href="pagina_login.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/126633e6cf.js" crossorigin="anonymous">
    </script>
    <script>
    </script>
</head>
<body class="bg">
    <div class="container_principal">
        <div class="manchete">
            <div class = "h1comIcone">
            <i class="fab fa-envira fa-4x"></i>
            <h1>Florishop</h1>
            <i class="fab fa-pagelines fa-4x"></i>
            </div>

            <p>O maior portal de flores do mundo</p>
        </div>
            
        <p class="comodesejafrase">Como deseja continuar?</p>
        <p class="fim">{{fim}}</p> 
        <form action="http://localhost:3000/log" method="post">
        <div class="campos_login">
            <p>Email</p>
            <input type="email" id="email" name="email" required>
            <p>Senha</p>
            <input type="password" id="senha" name="password" required>
        </div>
        <div class="botoes_login">
            <div class="botoes_principais">
                <button type="submit" class="bPrincipals">Entrar</button>
            </div>
        </div>
        </form>
        <div class="botoes_login">
            <div class="botoes_principais">
                <a class="bPrincipal" href="pagina_cadastro"><button class="bPrincipal">Cadastrar</button></a>
            </div>
            <button class="bSecundario">Entrar com o Google</button>
        </div>
    </div>  
</body>
</html>